@import 'tailwindcss';

@plugin "@iconify/tailwind4" {
  prefixes: f7, flagpack, mdi-light, line-md;
}

@plugin "flyonui" {
  themes:
    mintlify --default,
    black --prefersdark;
}
@plugin "flyonui/theme" {
  name: 'mintlify';
  default: true; /* Set as default theme */
  prefersdark: false; /* Set dark mode for prefers-color-scheme: dark */
  color-scheme: light; /* Defines the color of browser UI */

  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
}

@plugin "flyonui/theme" {
  name: 'black';
  default: false; /* Set as default theme */
  prefersdark: true; /* Set dark mode for prefers-color-scheme: dark */
  color-scheme: dark; /* Defines the color of browser UI */

  --radius-selector: 1rem;
  --radius-field: 0.125rem;
  --radius-box: 0.5rem;
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));
@custom-variant light (&:where([data-theme=mintlify], [data-theme=mintlify] *));

@layer theme {
}

body {
  @apply light:bg-base-100/30;
}

.box-shadow {
  @apply shadow-xs shadow-base-content/20;
}
