@import 'tailwindcss';
@plugin "@iconify/tailwind4";
@plugin "flyonui" {
  themes:
    shadcn --default,
    corporate --prefersdark,
    shadcn;
}

@custom-variant dark (&:where([data-theme=corporate], [data-theme=corporate] *));
@custom-variant light (&:where([data-theme=shadcn], [data-theme=shadcn] *));

@layer base {
  .txt-grad {
    @apply bg-gradient-to-tr from-info to-accent bg-clip-text text-shadow-sm text-transparent;
  }

  .body {
    @apply p-2 bg-neutral-content/20 rounded-3xl shadow-sm/13 border border-neutral-content/75;
  }
}

@plugin "flyonui/theme" {
  name: 'shadcn';
  default: true;

  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
}
@plugin "flyonui/theme" {
  name: 'corporate';
  default: true;

  --radius-selector: 1rem;
  --radius-field: 0.125rem;
  --radius-box: 0.5rem;
}
