@import 'tailwindcss';

@plugin "@iconify/tailwind4" {
  prefixes: f7, mdi-light, vscode-icons;
}

@plugin "flyonui" {
  themes: all;
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));
@custom-variant light (&:where([data-theme=corporate], [data-theme=corporate] *));

@layer base {
}

body {
  @apply light:bg-base-100/90;
}

@plugin "flyonui/theme" {
  name: 'corporate';
  default: true;

  --radius-selector: 1rem;
  --radius-field: 0.125rem;
  --radius-box: 0.5rem;
}

@plugin "flyonui/theme" {
  name: 'shadcn';
  default: true;

  --radius-selector: 1rem;
  --radius-field: 0.125rem;
  --radius-box: 0.5rem;
}
@plugin "flyonui/theme" {
  name: 'black';
  default: true;

  --radius-selector: 1rem;
  --radius-field: 0.125rem;
  --radius-box: 0.5rem;
}
